{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="container">
    <div class="page-header">
        <h1 align="center">Publish your email events</h1>
    </div>
    <br />
    <br />

    {{ super() }}

    <!--Email Events Form-->
    <form class="form center-block" style="width: 45%" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}

        {{ wtf.form_field(form.event_id) }}
        {{ wtf.form_field(form.email_group_id) }}
        {{ wtf.form_field(form.email_subject) }}
        {{ wtf.form_field(form.email_content, style="height:300px") }}
        {{ wtf.form_field(form.timestamp, placeholder='E.g. "15 Dec 2015 23:12"') }}
        {{ wtf.form_field(form.timezone, placeholder='Default=Asia/Singapore') }}
    </br>
        {{ wtf.form_field(form.submit, class='btn btn-block btn-lg btn-primary') }}
    </form>
</div>
</br>
</br>
</br>
{% endblock %}
