{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="container">
    <div class="page-header">
        <h1 align="center">Save your email groups</h1>
    </div>
    <br />
    <br />

    {{ super() }}

    <!--Email Groups Form-->
    <form class="form center-block" style="width: 45%" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}

        {{ wtf.form_field(form.group_name, placeholder='Add email group name, must be unique.') }}
        {{ wtf.form_field(form.email_addresses, style="height:300px",
            placeholder='You can enter multiple email addresses at once, separated by commas') }}
    </br>
        {{ wtf.form_field(form.submit, class='btn btn-block btn-lg btn-primary') }}
    </form>
</div>
{% endblock %}